# En la raíz del proyecto
cat > .gitignore << 'EOF'

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

*.suo
*.user
*.sln.docstates


.env
appsettings.Development.json
appsettings.Production.json

## MacOS
.DS_Store

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/
EOF